.container {
  display: grid;
  grid-template:
    "nav header header header" 1fr
    "nav main main sub" 2fr
    "footer footer footer footer" 1fr /
    1fr 2fr 2fr 1fr;
  gap: 10px;
}

.item1 {
  grid-area: header;
  background: red
}

.item2 {
  grid-area: nav;
  background: blue
}

.item3 {
  grid-area: main;
  background: green;
}

.item4 {
  grid-area: sub;
  background: purple;
}

.item5 {
  grid-area: footer;
  background: yellow;
}
